<template id="nidget-selector-template">
    <link rel="stylesheet" href="<%= style %>">
    <div id="outer" class="noselect">
        <div id="selected" class="show">200</div>
        <div id="options">
            <div class="option">100</div>
            <div class="option">200</div>
            <div class="option">300</div>
            <div class="option">400</div>
            <div class="option">500</div>
            <div class="option">600</div>
            <div class="option">700</div>                        
            <div class="option">800</div> 
            <div class="option">900</div> 
            <div class="option">1000</div> 
        </div>
    </div>
</template>