<template id="ribbon-toggle-template">
    <link rel="stylesheet" href="<%= style %>">
    <div id="outer">
        <div id="label"></div>
        <div id="indicator"></div>
        <div id="underlay"></div>
    </div>
</template>